<div class="formulaire">
    <div class="fleche col-xs-1 col-xs-offset-11"></div>
    <input type="text" class="input-text" [ngModel]="name" placeholder="Nom">
    <br/>
    <br/>
    <input class="input-text" [ngModel]="description" placeholder="Description">
    <br/>
    <br/>
    <select [ngModel]="status" class="input-text">
        <option value="public">Publique</option>
        <option value="private">Privée</option>
    </select>
    <br/>
    <br/>
    <button (click)="onClick('Nom playlist','Description playlist','public')">Créer la playlist</button>
</div>
<div class="list">
    <ng-container *ngFor="let playlist of playlists.items">
        <div class="item-list playlist container">
            <div class="col-xs-8" (click)="onClickDisplayVideos(playlist.id)">
                {{ playlist.snippet.title }}
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-3 delete" (click)="onClickDeletePlaylist( playlist.id  ,playlist.snippet.title )">
                Supprimer
            </div>
        </div>
    </ng-container>
</div>