<div class="formulaire">
    <input type="text" class="input-text" #box (keyup.enter)="searchVideo(box.value)">
    <div class="comment-search">
        Taper "entrer" pour lancer la recherche
    </div>
    <div *ngIf="videos">
        <div class="list">
            <ng-container *ngFor="let video of videos.items">
                <div class="item-list playlist container">
                    <div class="col-xs-2">
                        <img src="{{ video.snippet.thumbnails.default.url }}" height="20" alt="">
                    </div>
                    <div class="col-xs-10">
                        {{ video.snippet.title | slice:0:20 }}...
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>