.parts{
    border-left:1px solid silver;
}
.parts:first-child{
    border:none;
}
.parts .title{
    font-size: 14px;
    padding-bottom:15px;
    border: none;
}
.parts .title img{
    height:70px;
    border: 2px solid #fab0af;
    border-radius: 360px;
}
.parts input[type=text]{
    background: rgba(0,0,0,0.1);
    border-radius: 360px;
    border:none;
    font-size: 20px;
    padding:5px;
}
.parts .input-text{
    background: rgba(0,0,0,0.1);
    border-radius: 360px;
    border:none;
    font-size: 20px;
    padding:5px;
}

.title.main{
    background-color:rgba(0,0,0,0.9);
    color:rgba(255,255,255,0.8);
}