<router-outlet></router-outlet>

<div class="title main">
    Vos playlists Youtube
</div>
<div class="main container col-xs-12">
    <div class="col-xs-4 parts">
        <div class="title">
            <img src="../../assets/img/dashboard/search.png" alt="">
        </div>
        <app-video></app-video>
    </div>
    <div class="col-xs-4 parts">
        <div class="title">
            <img src="../../assets/img/dashboard/playlist.png" alt="">
        </div>
        <app-playlist></app-playlist>
    </div>
    <div class="col-xs-4 parts">
        <div class="title">
            <img src="../../assets/img/dashboard/music.png" alt="">
        </div>
        <div class="list">
            <div class="item-list playlist container">
                <div class="col-xs-8">
                    Vidéo n° 1 de la playlist X
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-3 delete">
                    Supprimer
                </div>
            </div>
            <div class="item-list playlist container">
                <div class="col-xs-8">
                    Vidéo n° 2 de la playlist X
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-3 delete">
                    Supprimer
                </div>
            </div>
            <div class="item-list playlist container">
                <div class="col-xs-8">
                    Vidéo n° 3 de la playlist X
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-3 delete">
                    Supprimer
                </div>
            </div>
        </div>
    </div>
</div>