<router-outlet></router-outlet>

<div class="title main">
    Vos playlists Youtube
</div>
<div class="main container col-xs-12">
    <div class="col-xs-4 parts">
        <div class="title">
            <img src="../../assets/img/dashboard/search.png" alt="">
        </div>
        <input type="text">
    </div>
    <div class="col-xs-4 parts">
        <div class="title">
            <img src="../../assets/img/dashboard/playlist.png" alt="">
        </div>
        <app-playlist></app-playlist>
    </div>
    <div class="col-xs-4 parts">
        <div class="title">
            <img src="../../assets/img/dashboard/music.png" alt="">
        </div>
    </div>
</div>