
<div class="list">
  <div class="item-list playlist container">
    <div class="col-xs-8">
      Vidéo n° 1 de la playlist X
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-3 delete">
      Supprimer
    </div>
  </div>
  <div class="item-list playlist container">
    <div class="col-xs-8">
      Vidéo n° 2 de la playlist X
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-3 delete">
      Supprimer
    </div>
  </div>
  <div class="item-list playlist container">
    <div class="col-xs-8">
      Vidéo n° 3 de la playlist X
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-3 delete">
      Supprimer
    </div>
  </div>
</div>